<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Enter your email </h3>
              <p class="mb-4" style="color :blueviolet;"> Leave management system.</p>
              {{#if err}}
              <div class="alert alert-danger" role="alert" style="width: auto;">
                {{err}}
              </div>
              {{/if}}
              {{#if sucessfully}}
              <div class="alert alert-success" role="alert" style="width: auto;">
                {{sucessfully}}
              </div>
              {{/if}}
            </div>
            <form action="/resetPassStaff" method="POST">
              <div class="form-group last mb-4">
                <label for="email">Email</label>
                <input type="email" class="form-control" id="email" name="email">
              </div>
              <input type="submit" value="Request for reset password" class="btn btn-block btn-primary">
              </a>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</div>