<div class="content">
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
            </div>
            <div class="col-md-6 contents">
                <div class="row justify-content-center">
                    <div class="col-md-8">
                        <div class="mb-4">
                            <h3>Select your Role </h3>
                            <p class="mb-4" style="color :blueviolet;"> Leave management system.</p>
                        </div>
                        <div>
                            <a href="/forgot_manager" style="text-decoration: none;"> <button class="btn btn-block btn-primary" for="email">
                                    Manager</button></a>
                        </div>
                        <br>
                      <div>
                            <a href="/forgot_staff"  style="text-decoration: none;"> <button class="btn btn-block btn-primary" for="email">
                                    Staff</button></a>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>