<div class="content">
  <div class="container">
    <div class="row">
      <div class="col-md-6">
        <img src="/images/undraw_remotely_2j6y.svg" alt="Image" class="img-fluid">
      </div>
      <div class="col-md-6 contents">
        <div class="row justify-content-center">
          <div class="col-md-8">
            <div class="mb-4">
              <h3>Enter New Pass</h3>
              <p class="mb-4" style="color :blueviolet;"> Leave management system.</p>
              {{#if notify}}
              <div class="alert alert-danger" role="alert" style="width: auto;">
                {{notify.error}}
              </div>
              {{/if}}
            </div>
            <form action="/resetPassword/{{User}}/{{Token}}" method="POST">
              <div class="form-group last mb-4">
                <label for="password">Password</label>
                <input type="password" class="form-control" id="password" name="password" required>
              </div>
              <input type="submit" value="Submit" class="btn btn-block btn-primary">
              </a>
          </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</div>
</div>